# THIS FILE IS MANAGED BY IAC
# AND WILL BE OVERWRITTEN IF MODIFIED
# github-infra:/assets/codeowners_consumer_tooling

# review CI by devops team
.github/** @qernal/devops

# always review by consumer tooling team
* @qernal/consumer-tooling